.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

/* .sidebar {
  position: absolute !important;
  left: 0;
  top: 0;
  height: 100%;
} */
