.tableStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2rem;
}

.manual {
  background-color: rgb(249, 249, 167);
}

.expandAllButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6.4%;
}
.check {
  width: 2.2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trxTabBody {
  :global(.ant-table-cell-row-hover) {
    background-color: inherit !important;
  }
}

.childRowColor {
  background-color: rgb(241, 235, 235);
}
