.root {
  line-height: 1.5;
  cursor: pointer;
  .trigger {
    font-size: 20px;
    transition: color 0.3s;
    cursor: pointer;
  }

  &.sidebar {
    cursor: default;
    & .trigger {
      cursor: default;
    }
  }
}
