.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  height: 100%;
  z-index: 2;

  @media screen and (max-width: 1024px) {
    left: unset;
    right: 0;
  }
}

.sidebarHeader {
  position: relative;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.closeIconWrapper {
  position: absolute;
  right: 10px;
}

.closeIcon {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  color: white;
}
