.root {
  height: 100%;
}

.qrWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrImage {
  width: 15rem;
}
.infobutton {
  position: absolute;
  right: 24px;
  top: 15px;
}
