.SaveAndCancelButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sportInputs {
  margin-left: 8px;
}

.withdrawLimitInput {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

// .WithdrawLimit {
// }

.Limits {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
